# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environments
.env/
.venv/
venv/
env/

# Packaging / build
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# C++ build artifacts
cmake-build*/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py
